@page "/curriculo"
<PageTitle>Curriculo</PageTitle>

<header>
    <h1>Bianca Nascimento</h1>
    <p>Estudante de Informática | Técnica em formação</p>
    <p>Contato: (69) 99266-9954 | bncmntto@email.com</p>

</header>

<section id="resumo">
    <h2>Resumo Profissional</h2>
    <p>
        Técnica em Informática em formação, com experiência prática em manutenção de computadores, redes, banco de dados e atendimento técnico.
        Participa de projetos escolares, desenvolvendo habilidades em SQL, HTML, CSS, MySQL e suporte técnico.
    </p>
</section>

<section id="experiencia">
    <h2>Experiência</h2>

    <article>
        <h3>Estágio Técnico em Informática</h3>
        <h4>Setor de Suporte | Escola Técnica</h4>
        <p>Fev 2025 - Atual</p>
        <ul>
            <li>Manutenção de impressoras e computadores.</li>
            <li>Formatação de máquinas e instalação de softwares.</li>
            <li>Organização e limpeza de cabos de rede.</li>
            <li>Atendimento a chamados internos.</li>
        </ul>
    </article>
</section>

<section id="formacao">
    <h2>Formação Acadêmica</h2>

    <article>
        <h3>Instituto Federal de Educação, Ciência e Tecnologia</h3>
        <h4>Curso Técnico em Informática Integrado ao Ensino Médio</h4>
        <p>2022 - 2025 (Em andamento)</p>
    </article>
</section>

<section id="habilidades">
    <h2>Habilidades</h2>
    <ul>
        <li>HTML, CSS, JavaScript</li>
        <li>SQL, MySQL, Workbench</li>
        <li>Manutenção de computadores</li>
        <li>Montagem de rede e cabeamento</li>
        <li>Organização, responsabilidade e proatividade</li>
    </ul>
</section>

<section id="informacoes">
    <h2>Informações Adicionais</h2>
    <p>Disponível para novos desafios na área de TI. Interessada em suporte técnico, redes e desenvolvimento web.</p>
</section>
