@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world, Bianca!</h1>
<h3>Bem  vindo ao meu primeiro projeto Web com Blazor C# do 3ªB</h3>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
