@page "/sobre"

<h3>SOBRE MIM (A AUTORA) </h3>

<h6>   Me chamo Bianca, tenho 16 anos, sou nascida em Ji-paraná Rondônia, 
    mas vivi parte de minha vida em Machadinho d'Oeste Rondônia. Atualmen-
    te moro em Ji-paraná, faço curso de informática integrado ao ensino 
    médio no Instituto Federal de Rondônia Campus Ji-paraná.
   Tenho uma irmã mais nova chamada Heloísa, somos 
   filhas de nosso pai carlos e de nossa mãe Nilceia. Acho que isso e o
   fato de eu ser corinthiana são as informações mais importantes sobre 
   mim.</h6>
