@page "/sobre"

<PageTitle>Index</PageTitle>

<h2>Meu nome é Bianca!</h2>
<h3>Bem  vindo ao meu primeiro projeto Web com Blazor C# do 3ªB</h3>

Seja bem vindo ao seu app!

<SurveyPrompt Title="How is Blazor working for you?" />
